<ion-view view-title="Room-Name">
  	<ion-content>
  		<div class="list">
  			<a class="item item-avatar" href="#">
  				<img src="../img/person_01.jpg">
  				<h2>Person_01</h2>
  				<p>Hello, I'm person_01!!</p>
  			</a>
  			<a class="item item-avatar" href="#">
  				<img src="../img/person_02.jpg">
  				<h2>Person_02</h2>
  				<p>Hello, I'm person_02!!</p>
  			</a>
  			<a class="item item-avatar" href="#">
  				<img src="../img/person_03.jpg">
  				<h2>Person_03</h2>
  				<p>Hello, I'm person_03!!</p>
  			</a>
  		</div>
  	</ion-content>
</ion-view>
