<ion-view view-title="Account">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="username" type="text" placeholder="username">
      </label>
      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="password">
      </label>
      <button ng-click="signup(username, password)" class="button button-block button-assertive">Sign Up</button>
      <button ng-click="signin(username, password)" class="button button-block button-stable">Sign In</button>
    </div>
  </ion-content>
</ion-view>
